.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #0a0a1a;
}

.submit-btn {
    -fx-background-color: linear-gradient(to right, #f97316, #10b981);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: #1f2937;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
}